@use'../abstracts' as *;

html {
  font-size: 62.5%;
  height: 100%;
}
body {  
  max-width: 1440px;
  margin: auto;
  font-family: $main-font, "sans-serif";
  font-size: 1.6rem;
  background-color: $very_light_grayish_blue;
}
/*************************** 
  SECTION
/***************************/
.pricing__section {
  padding: $section-block-padding $section-inline-padding;
  background-image: url(../images/bg-top.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 180px -50px;
  background-color: $very_light_grayish_blue;

  @include medium {
    background-image: 
      url(../images/bg-top.svg), 
      url(../images/bg-bottom.svg);
    background-repeat: 
      no-repeat, 
      no-repeat;
    background-position: 
      right top, 
      left bottom;
    background-size: 20%, 20%;
  }

}
.pricing__container {
  display: grid;
  place-content: center;
}
.pricing__title {
  font-size: $font-size-h1;
  text-align: center;
  color: $grayish-blue;
}
/*************************** 
  FOOTER
/***************************/
.footer {
  margin-top: auto;
  padding: 2rem;
  font-size: 1.4rem;
  text-align: center;
  color: $dark-grayish-blue;
  line-height: 1.6;
}
.footer__attribution a {
  text-decoration: none;
  color:  $dark-grayish-blue;
  transition: color .1s ease;
}
.footer__attribution a:hover,
.footer__attribution a:focus-visible {
  color: $grayish-blue;
}
