$dark_grayish_blue: hsl(232, 13%, 33%);
$grayish_blue: hsl(233, 13%, 49%);
$light_grayish_blue: hsl(234, 14%, 74%);
$very_light_grayish_blue: hsl(240, 78%, 98%);
$light_grayish: hsl(234, 14%, 85%);
$white: #fdfdff;
$light_blue: hsl(237, 63%, 64%);
$very_light_blue: hsl(236, 72%, 79%);
