@use'../abstracts' as *;

.list {
	text-align: center;
	border-top: 1px solid $light-grayish;

	&--white {
		border-top: 1px solid $white;
	}

	&__item{
		width: 160px;
		padding: 2rem 0;
		font-size: $font-size-list-item;
		font-weight: $font-bold;
		border-bottom: 1px solid $light-grayish;

		&--white {
			border-bottom: 1px solid $white;
		}
		@include medium {
			font-size: 1.4rem;
			padding: 1.5rem 0;
		}
		@include large {
			font-size: $font-size-list-item;
			padding: 2rem 0;
		}
	}
}